* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1F2937;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

/* Header Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
h1 {
    font-size: 24px;
    color: white;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
}

/* Header Hero*/

.hero {
    color: white;
    padding: 50px 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.box-2 {
    width: 540px;
}

.hero-img {
    width: 500px;
    border-radius: 20px;
}

.hero-text {
    font-size: 48px;
}

.btn-hero {
    font-size: 16px;
    background-color: #3882f6;
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
}

/* main 1st section*/

.bg-white {
    background-color: white;
}

.info {
    text-align: center;
    padding: 50px 0;
}
.product-img {
    width: 80px;
}

.section-title {
    padding-bottom: 50px;
}

.box-4 {
    width: 250px;
}

.flex-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* main 2nd section*/

.quote {
    background-color: rgb(199, 199, 199);
    padding: 100px 0;
}

blockquote p {
    font-size: 24px;
    font-style: italic;
}

figcaption {
    text-align: end;
}

/* main 3rd section*/

.cta {
    padding: 100px 0;
}

.bg-blue {
    background-color: #3882f6;
    padding: 20px;
    border-radius: 10px;
}

.box {
    width: 19%;
    min-width: 200px;
    text-align: center;
}

.box-90 {
    width: 80%;
}

.btn-white {
    padding: 20px 50px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

h3 {
    color: white;
    font-size: 24px;
}

.note {
    color: white;
}

.center {
    text-align: center;
    color: white;
    padding: 10px 0;
}